@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Inter:wght@300;600&display=swap');

* {
  user-select: none;
  cursor: default;
}

.App {
  min-height: 100vh;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
